<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supervisor.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supervisor.phone %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
