<%= form_with(model: building_stage, local: true) do |form| %>
  <% if building_stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building_stage.errors.count, "error") %> prohibited this building_stage from being saved:</h2>

      <ul>
      <% building_stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stage %>
    <%= form.text_field :stage, id: :building_stage_stage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
