<p id="notice"><%= notice %></p>

<h1>Job Sites</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Builder</th>
      <th>Stage</th>
    </tr>
  </thead>

  <tbody>
    <% @job_sites.each do |job_site| %>
      <tr>
        <td><%= link_to job_site.address, job_site %></td>
        <td><%= job_site.builder.name %></td>
        <td><%= job_site.building_stage.stage %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobsite', new_job_site_path %>
<br>
<%= link_to "Main", 'reports/main' %>
